@model IEnumerable<Projecto.Models.Comentarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Comentarios</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success rounded-pill">
        <i class="bi bi-plus-circle me-1"></i> Nuevo Comentario
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaComentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaComentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td class="text-left">
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary me-2" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info me-2" title="Detalles">
                    <i class="bi bi-info-circle"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
