@model Projecto.Models.Genero

@{
    ViewData["Title"] = "Detalles Género - Películas";
}

<h1>Detalles</h1>
<hr />

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Información del Género</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>
        </dl>
    </div>
</div>

<div class="mt-4 d-flex gap-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Ver Lista</a>
</div>
