@model IEnumerable<Projecto.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Actores</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success rounded-pill">
        <i class="bi bi-person-plus-fill me-1"></i> Nuevo Actor
    </a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Nombre)  @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>
                @Convert.ToDateTime(item.FechaNacimiento).ToString("d 'de' MMMM 'de' yyyy", new System.Globalization.CultureInfo("es-ES"))
            </td>
            <td class="text-left">
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary me-2" title="Editar">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info me-2" title="Detalles">
                    <i class="bi bi-info-circle"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" title="Eliminar">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
