@model Projecto.Models.Pelicula

@{
	ViewData["Title"] = "Eliminar Película";
}

<h1>Eliminar</h1>
<div>
	<h4>Detalles de la Película</h4>
	<hr />
	<div class="row">
		<div class="col-md-8">
			<dl class="row">
				<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Titulo)</dt>
				<dd class="col-sm-9">@Html.DisplayFor(model => model.Titulo)</dd>

				<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Sinopsis)</dt>
				<dd class="col-sm-9">@Html.DisplayFor(model => model.Sinopsis)</dd>

				<dt class="col-sm-3">@Html.DisplayNameFor(model => model.Duracion)</dt>
				<dd class="col-sm-9">@Html.DisplayFor(model => model.Duracion)</dd>

				<dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaEstreno)</dt>
				<dd class="col-sm-9">@Html.DisplayFor(model => model.FechaEstreno)</dd>

				<dt class="col-sm-3">@Html.DisplayNameFor(model => model.GeneroId)</dt>
				<dd class="col-sm-9">@Html.DisplayFor(model => model.Genero.Nombre)</dd>

				<dt class="col-sm-3">@Html.DisplayNameFor(model => model.DirectorId)</dt>
				<dd class="col-sm-9">@($"{Model.Director.Nombre} {Model.Director.Apellido}")</dd>
			</dl>

			<div class="mt-3">
				<form asp-action="Delete">
					<input type="hidden" asp-for="Id" />
					<input type="submit" value="Eliminar" class="btn btn-danger" />
					<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			@if (!string.IsNullOrEmpty(Model.ImagenRuta))
			{
				<div class="text-center">
					<label class="fw-bold">Portada</label><br />
					<img src="@Model.ImagenRuta" alt="Portada actual"
						 class="img-fluid rounded shadow-sm mt-2"
						 style="max-width: 100%; cursor: zoom-in;" />
				</div>
			}
		</div>
	</div>
</div>
