@model Projecto.Models.PeliculaActor

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Película y Actor</h5>
        <hr />
        <dl class="row">
			<dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.PeliculaId)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Pelicula.Titulo)</dd>

			<dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Actor)</dt>
            <dd class="col-sm-9">@($"{Model.Actor.Nombre} {Model.Actor.Apellido}")</dd>

			<dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Rol)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Rol)</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    @Html.ActionLink("Editar Rol", "Edit", new { peliculaId = Model.PeliculaId, actorId = Model.ActorId }, new { @class = "btn btn-primary" })
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
